:root {
	--primary: #4f46e5;
	--secondary: #7c3aed;

	/* ARTICLE HERO COLOR */
	--theme-hero-start: #4f46e5;
	--theme-hero-end: #7c3aed;

	--theme-hero-text: #ffffff;
	--theme-hero-subtext: rgba(255, 255, 255, 0.9);

	--body-bg: #eef2ff;
	--text-color: #1e293b;
	--card-bg: #ffffff;
}
